<div class="ui celled list">
  @for (email of emails; track $index) {
  <div class="item">
    <a [routerLink]="email.id" routerLinkActive="active">
      <div class="content">
        <div class="header trim">{{ email.subject }}</div>
        <p class="trim">{{ email.from }}</p>
      </div>
    </a>
  </div>
  }
</div>

<div class="ui list">
  <div class="item">
    <img class="ui avatar image" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    <div class="content">
      <a class="header">Rachel</a>
      <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
    </div>
  </div>
</div>