.actions:empty {
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}

.ui.modal .header {
  background: var(--light-purple);
  color: white;
}

.ui.modal .icon {
  color: white;
}