@if (!(signedIn$ | async)) {
<div class="ui stackable equal width grid">
  <div class="column">
    <div class="ui section">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="img-container" class="column">
    <div class="ui huge header">EMAIL CLIENT</div>
    <div class="ui medium image">
      <img src="/assets/svg/logo.svg" alt="logo">
    </div>
  </div>
</div>
} @else {
<router-outlet></router-outlet>
}

<!-- <div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular Email</a>
    <div class="right menu">
      @if (signedIn$ | async) {
      <a class="ui item" routerLink="/inbox" routerLinkActive="active">Inbox</a>
      <a class="ui item" routerLink="/signout" routerLinkActive="active">Sign Out</a>
      } @else {
      <a class="ui item" routerLink="/" [routerLinkActiveOptions]="{ exact: true}" routerLinkActive="active">Sign In</a>
      <a class="ui item" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      }
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->