<form class="ui form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <app-input inputType="email" label="To" [control]="emailForm.controls.to"></app-input>
  <app-input inputType="email" label="From" [control]="emailForm.controls.from"></app-input>
  <app-input inputType="text" label="Subject" [control]="emailForm.controls.subject"></app-input>
  <app-input controlType="textarea" label="Content" [control]="emailForm.controls.text"></app-input>

  <button class="ui fluid animated button primary" tabindex="0">
    <div class="visible content">Send</div>
    <div class="hidden content">
      <i class="paper plane icon"></i>
    </div>
  </button>
</form>