<div class="segment">
  <div class="ui header">
    <h1 class="title">Log in</h1>
    <p class="subtitle">Welcome back! Please log into your account.</p>
  </div>

  <form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <app-input inputType="text" label="Username" [control]="authForm.controls.username"></app-input>
    <app-input inputType="password" label="Password" [control]="authForm.controls.password"></app-input>

    @if (authForm.errors) {
    <div class="ui red basic label">
      @if (authForm.errors['noConnection']) { <p>No internet connection detected, failed to sign up</p> }
      @if (authForm.errors['credentials']) { <p>Invalid username or password</p> }
    </div>
    }

    <div class="ui stackable equal width grid">
      <div class="column">
        <div class="checkbox">
          <input type="checkbox" name="rememberMe">
          <label>Remember me</label>
        </div>
      </div>
      <div class="column">
        <div class="subtitle forgot-password">Forgot Password?</div>
      </div>
    </div>

    <div class="footer">
      <button class="ui animated submit button primary fluid big" tabindex="0">
        <div class="visible content">Log in</div>
        <div class="hidden content">
          <i class="sign-in icon"></i>
        </div>
      </button>

      <div class="sign-up subtitle">New user? <span routerLink="/signup">Sign up</span></div>
    </div>
  </form>
</div>